<a href="https://colab.research.google.com/github/MariMecucci/arquivos-legais/blob/main/Cientista_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Lista1 = [1,2,3,4,5] 
Lista2 = [1,2,3,4,5] 
Lista3 = Lista1 + Lista2 
print(Lista3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
altura = 1.75 
peso = 79.2 
IMC = peso/altura**2 
print('{:.2f}'.format(IMC))

25.86

In [ ]:
a = '10' 
b = '3' 
c = int(a)%int(b) 
print(c)

1

In [ ]:
lista = [10,2,30,23,12,42,543,24,33,34,123.5,1231,53,123,6456,234,45]
X = 0 
for i in lista: X += i 
print(X)

9018.5

In [ ]:
lista = [10,2,30,23,12,42,543,24,33,34,123.5,1231,53,123,6456,234,45] 

X = 0 
for i in lista: 
  X += i 
  print(X)

10
12
42
65
77
119
662
686
719
753
876.5
2107.5
2160.5
2283.5
8739.5
8973.5
9018.5

In [ ]:
dicionario={'pessoa_1':{'nome':'Peterson','sobrenome':'Almeida'}, 'pessoa_2':{'nome':'Maria','sobrenome':'Silva'}, 'pessoa_3':{'nome':'Jose','sobrenome':'Santos'}} 
nome_completo=[] 
for a,b in dicionario.items(): 
  nome_completo.append(str(b['nome'])'+'str(b['sobrenome']))
   print(nome_completo)

SyntaxError: ignored

In [ ]:
print ( 13 + 90 ) 
print ( 13.9 + 90.1 ) 
print( '13' + '90' )

103
104.0
1390

In [ ]:
a = 5;
b = ""3""; 
print(int(a)+b)"

IndentationError: ignored

In [ ]:
if nota >= 6 and presenca >= 75: 
print(""Aprovado."") 
  elif nota <= 5 and presenca >= 75: 
print(""Recuperação."") 
  elif nota >= 6 and presenca < 75: 
print(""Recuperação."") 
else: print(""Reprovado."") 

Aluno 1: [Nota: 6, Presença: 75.0009], 
Aluno 2: [Nota: 5.9, Presença: 76], 
Aluno 3: [Nota: 3, Presença: 72], 
Aluno 4: [Nota: 9, Presença: 74.99]."

IndentationError: ignored

In [ ]:
t1 = ('Banana', 'Abacate', 'Morango') 
tuplaPosicao = t1.index('morango') terceiroElemento = t1[3] 
print(posicao, terceiroElemento)

SyntaxError: ignored